html, body {
   background: #9396cb;
   color: #8ed2c5;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 50px;
   height: 100vh;
   text-align: center;
   animation: bgcolor 5s infinite alternate ease-in-out;
}


@keyframes bgcolor {
  from {
    background: #9396cb;
  }
  to {
    background: #8ed2c5;
  }
}


img {
   height: auto;
   max-width: 100vh;
   position: relative;
}

.embed-container {  
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; } 
  
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

a {
   color:#f37736;
   text-decoration: none;
}

h1 {
   max-width: 100vh;
   font-size: 300px;
   text-align: left;
   position: absolute;
   top:0;
   left: 0;
   margin: 0;
   line-height: 1;
   z-index: 1;
}

.bb__wrapper {
   align-items: center;
   background: #ffd51d;;
   display: flex;
   min-height: 100vh;
   justify-content: center;
   animation: move 5s infinite alternate ease-in-out;
   position: relative;
}

.bb__wrapper.home {
   overflow: hidden;
}

.bb__wrapper.photos {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0;
  background-color: #fff;
  color: #000000;
}

.bb__wrapper.photos img {
   max-width: 100%;
}

.bb__wrapper.how {
  animation: none;
  overflow: hidden;
  position: relative;
  justify-content: flex-start;
}

.gallery-frame {
   position: relative;
}

.gallery-frame .caption {
   opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background-color:#9396cb;
}

.gallery-frame .caption p {
  position: relative;
  top: 25%;
}
.gallery-frame:hover .caption {
  opacity: 1;
}

@keyframes move {
  from {
    background: #f37736;
  }
  to {
    background: #ffd51d;
  }
}

.navigation__wrapper {
   /* bottom: 0;
   left: 0;
   position: absolute;
   right: 0; */
}

.navigation__wrapper ul {
   align-content: space-between;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100vh;
   height: 3vh;
}

.navigation__wrapper ul li {
   display: inline-block;
   padding: 2rem;
   width: 33%;
}

.donate-to-best-buddies {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 250px;
  font-weight: bold;
position: absolute;
  display: block;
   text-align: left;
   top: -30px;
   color: #9396cb;
}

.facebookfundraisers {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 250px;
  position: absolute;
  font-weight: bold;
  display: block;
  text-align: left;
  top: 40%;
  color: #8ed2c5;
}


.attendevent {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 250px;
 position: absolute;
 font-weight: bold;
 display: block;
 text-align: left;
 top:18%;
 left: 18px;
 color: #f37736;

}

.arrow {
  position: absolute;
bottom: 0;
right: 0;
}